@font-face {
  font-family: Mono;
  src: url(../assets/fonts/benderbold.ttf);
}
h1 {
  color: #2f2f2f;
  font-size: 48px;
  text-align: center;
}
body {
  background-color: #ebebeb;
  font-family: Mono;
  font-size: 20px;
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}
button {
  background-color: #3db39e;
  color: #f2f2f2;
  border: none;
  outline: none;
  font-family: Mono;
  font-size: 18px;
  padding: 5px 15px;
  cursor: pointer;
  margin: 5px;
  transition: 0.2s;
}
button:hover,
button:focus {
  background-color: #49c1ab;
}
button:active {
  background-color: #3aaa96;
}
button.changed {
  background-color: #5cc7b4;
}
.transparent {
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
}
.transparent:hover,
.transparent:focus,
.transparent:active {
  background-color: transparent;
}
.transparent.back {
  background-image: url(../assets/icons/internet.png);
}
.transparent.back:hover,
.transparent.back:active {
  background-image: url(../assets/icons/internet-hover.png);
}
.transparent.exit {
  background-image: url(../assets/icons/logout.png);
}
.transparent.exit:hover,
.transparent.exit:active {
  background-image: url(../assets/icons/logout-hover.png);
}
#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}
.tile {
  width: 10vw;
  min-width: 190px;
  min-height: 25px;
  background-color: #f2f2f2;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: 2px solid #f2f2f2;
  overflow: hidden;
}
.tile:hover,
.tile:focus {
  border-color: #3db39e;
}
.tile.add {
  background-image: url(../assets/icons/add.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
input {
  background-color: #f3f3f3;
  padding: 5px;
  font-family: Mono;
  font-size: 18px;
  min-width: 400px;
  color: #2f2f2f;
  border: none;
  outline: none;
  text-align: center;
  display: block;
  margin: 5px auto;
  border: 2px solid #e7e7e7;
}
.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
