<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Project PASS</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div id="sign">
        <img src="assets/icons/shield.png" alt="">
        <h1>Project PASS</h1>
        <form>
            <input type="text" placeholder="Логин" name="username">
            <input type="password" placeholder="Пароль" name="password">
            <button type="submit">Войти</button>
        </form>
        <a href="registration.html" class="a-changer">Регистрация</a>
    </div>
    <script src="../assets/js/jquery-2.2.3.js"></script>
    <script src="../js/checkForm.js"></script>
</body>

</html>
